body {
  margin: 0px;
}

canvas {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpJun_GTulqZfTAiqdoxZqeHWyppJz24lAfQ&s");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
  margin: 20px;
}

img {
  display: none;
}
